@charset "EUC-KR";

body{
	position: absolute;
	background-color: rgb(231, 231, 231);
	width: 800px;
	left: 400px;
}
.firstbox{
background-color: white;
padding-left: 40px;
}

.cartImg{
	width: 60px;
}
		