@charset "EUC-KR";


.cart-item {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem;
}

.cart-item img {
  max-width: 20%;
}

.btn-danger {
  background-color: #ff5e5e;
  border: none;
}
.cal {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem;
  font-weight: bold;
}

.cal p {
  margin-bottom: 0.5rem;
}
#container{
	margin-top: 180px;
}
.cal .btn-primary {
  margin-top: -5rem;
  margin-left: 900px;
}
#btnbuy{
	position: relative;
	bottom: -30px;
	margin-left: 1000px;
	width: 200px;
	height: 40px;
}
			
#btnbuy2{
	position: relative;
	bottom: 0px;
	margin-left: 1000px;
	width: 200px;
	height: 40px;
}
#delete{
	position: relative;
	bottom: 0px;
}
.col-md-4{
	font-size: 18px;
}
.production-item-price__orginal{
	margin-left: 10px;
	text-decoration: line-through;
}

.production-item-price__percent{
	color : #A782C3;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
}
.production-item-price__sell{
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: bold;
	
}.production-item-price__orginal{
	margin-left: 10px;
}

.production-item-price__percent{
	color : #A782C3;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
	position: relative;
	left: 130px;
	bottom: 45px;
}
.production-item-price__sell{
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: bold;
	
}

.input-number {
    width: 50px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    transition: border-color 0.2s ease-in-out;
  }

  .input-number:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
   .btn-wrapper {
    display: flex;
    align-items: center;
  }

  .minus-btn,
  .plus-btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  .minus-btn {
    color: #4c6794;
    margin-right: 10px;
  }

  .plus-btn {
    color: #4b638b;
    margin-left: 10px;
  }

  .minus-btn:focus,
  .plus-btn:focus {
    outline: none;
    color: #007bff;
  }
			