@charset "UTF-8";




.logo{
  width: 90px;
  height: 90px;
}

header {
  position: fixed;
  width: 1300px;
  background-color: white;
  z-index:999;
}

#header_navi {
  position: absolute;
  right: 85px;
  top: 33px;
}

#header_navi li {
  display: inline-flex;
  align-items: center;

  margin-bottom: 20px;
  flex-direction: column;
}

#header_navi li span {
  margin-left: 5px;
  margin-top: 8px;
}

#header_navi li i {
  font-size: 20px;
}
.headerbtn {
    position: absolute;
    text-align: center;
    border:none;     
    padding:12px;
    min-height:10px; 
    min-width: 80px;
    right: 0;
    top:45px;
    color: #fff;
	background-color:#A782C3;
	border-radius:4px;  
  }
  .headerbtn:hover {
      background-color:#7c6191;
      transition: 0.7s;
  }
.category-toggle{
	background-color:#fff;
	border: none;
    text-align: center;
    border-radius:5px; 
    padding:8px;
    min-height:10px; 
    min-width: 50px;
    display: flex;
}
    .category-toggle:hover {
      background-color:#f5f5f5;
      transition: 0.7s;
  }
  .headerfont{
	  font-size: 17px;
	  margin-left: 100px;
  }
  .v-line {
  border-left : thin  solid #000;
   height:100%;
}
.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.category-list li {
  /* 카테고리 스타일링 */
  border-bottom: 1px solid #ccc;
}
.category-list-container {
    position: absolute;
    width: 20%;
}

.href{
	margin-left: 10px;
	
}
.typeahead{
	position: absolute;
	width: 400px;
	left: 100px;
	top: -5px;
	
}
  .typeahead{
	   border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  padding-left: 40px;
  }
  .glasses {
  position : absolute;
  width: 18px;
  top: 135px;
  right: 795px;
  margin: 0;
    opacity: 0.5;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  display: none;  
}
.typeahead tt-hint{
	position: absolute;
}
.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
          position: absolute;
          left: 100px;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.typeahead{
	position: absolute;
	left: 30px;
	width: 300px;
}

.aaa1,
.bbb,
.ccc {
	font-family: 'Pretendard-Regular';
	font-size: 25px;
	margin : 20px;
	
}

#search_input{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 310px;
    position: absolute;
    left: 500px;
    top: 8px;
}

.glass{
	position: absolute;
  left: 800px;
  top: 16px;
font-size: 20px;
opacity : 0.7;
}

 #recent_search {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
        color: #a2a2a2;
    font-weight: 100;
  }
  
  #recent_search{
	list-style: none;
	width: 309px;
	position: absolute;
	left: 501px;
	top: 47px;
	font-size: 14px; 
	cursor: pointer;
    justify-content: space-between;
  }



  .recent-search-item i {
    cursor: pointer;
    margin-left: 10px; /* 이 부분을 추가하세요. 원하는 간격으로 조절할 수 있습니다. */
  }

  .recent-search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s, color 0.3s; /* 이 부분을 추가하여 배경 및 색상 전환 효과 설정 */
  }
  
  .recent-search-item:hover {
    background-color: #A782C3; /* 호버 시 원하는 배경색으로 설정 */
    color: white; /* 호버 시 원하는 글자색으로 설정 */
  }
  
  
  
 /*흐르는 공지부분*/ 
  .flow-text {
	  display: flex;
      flex: 0 0 auto;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s;
      font-size: 0.8rem;
      color: #424242;
  }
  .flow-text:hover {
    color: #A782C3;
  }
  .flow-text:hover .flow-wrap {
    animation-play-state: paused;
    cursor: pointer;
  }
  .flow-wrap {
    animation: textLoop 10s linear infinite;
    padding-right: 3vw;
  }
  
  @keyframes textLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    } 
  }
  /**/
  .communityButton{
	  position: absolute;
	  inset: 0px auto auto 0px;
        transform: translate(361px, 99px);
	  z-index: 1;
	 opacity: 0; /* 처음에는 투명하게 설정 */
	  max-height: 0; /* 초기에는 높이를 0으로 설정하여 내용이 보이지 않도록 함 */
	  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
	  transition: opacity 0.1s ease-in-out, max-height 0.1s ease-in-out; /* 애니메이션 효과 추가 */
  }
  .communityButton.show {
	  opacity: 1; /* 투명도를 1로 설정하여 나타나게 함 */
	  max-height: 216px; /* 내용의 최대 높이를 설정하여 나타나게 함 */
	}
  .btnBox11{
	  display: flex;
	  flex-direction: column;
  	  background-color: #fff;
	  border: 1px solid rgb(218, 221, 224);
      border-radius: 6px;
      padding: 8px;
   	  box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
   	  font-size: 15px;
   	  font-weight: bold;
  }
  .communityImg{
	  width: 36px;
    	height: 36px;
    	margin-right: 10px;
  }
  .btnBox11 > a{
	  padding: 15px;
	  display: flex;
      align-items: center;
  }
  
  
 .alarm{
	position: relative; 
    top: -21px;
  }
  .aCnt{
    border-radius: 50%;
	 position: relative; 
    background-color: rgb(255, 119, 119);
    width: 100%;
    height: 18px;
    color: white;
    text-align: center;
    top: 10px;
    left: 10px;
   cursor: pointer;
   }
