@charset "EUC-KR";

.thumbnail-container{
	width: 110px;
	height: 435px;
	background-color: bisque;
	position: fixed;
	right: 150px;
	top: 400px;
}
.production-item-thumnail__image{
	width: 80px;
	margin: 2px;
	margin-left:15px ;
}