.navi-container{
	width: 110px;
	height: 435px;
	background-color: #fff;
	border: 1px solid #ccc;
	position: fixed;
	right: 150px;
	top: 400px;
}
.navi-item-thumnail__image{
	width: 80px;
	margin: 2px;
	margin-left: 15px;
	cursor: pointer;
}

.just{
	 	width: 112px;
	height: 50px;
	background-color: #A782C3;
	position: fixed;
	right: 150px;
	top: 360px;
	text-align: center;
	padding-top: 10px;
	font-size: 16px;
	color: white;
	}
#recentProductsApp{
	display: inline-block;
    width: 112px;
    position: fixed;
    right: 92px;
    top: 418px;
    z-index: 1;
}
/* 화면 크기가 768px 이하일 때 */
@media screen and (max-width: 768px) {
  .navi-container  {
    position: static; /* 고정 위치에서 해제됩니다 */
    right: auto; /* 초기값으로 설정 */
    top: auto; /* 초기값으로 설정 */
  }
  @media screen and (max-width: 768px) {
  .just  {
    position: static; /* 고정 위치에서 해제됩니다 */
    right: auto; /* 초기값으로 설정 */
    top: auto; /* 초기값으로 설정 */
  }
 #recentProductsApp{
	display: none;
} 
 .thumbnail {
  position: relative;
}

.product-name,
.product-price {
  position: absolute;
  display: none; /* 기본적으로 숨깁니다. */
}

.product-name {
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
}

.product-price {
  left: -100%;
  top: 50%;
  transform: translateY(0%);
}

.visible {
  display: block; /* 보이도록 변경합니다. */
}
}
}