@charset "EUC-KR";

.nullCartBtn {
  position: absolute;
  top: 75%;
  left: 49%;
  transform: translate(-50%, -50%);
  background-color:#A782C3;
  text-align: center;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  min-height:15px; 
  min-width: 50px;
}

  .nullCartBtn:hover {
      background-color:rgb(164, 80, 239);
      transition: 0.7s;
  }
  .nullCart{
	   position: fixed;
  top: 33%;
  left: 39.5%;
  width: 400px;
  }