@charset "EUC-KR";

	/* html { 
  		scroll-behavior: smooth;
	} */
	.content{
		position: relative;
    	min-height: 1px;
		width: 1300px;
		margin: 0 auto;
		margin-top : 170px;
		
	}
	.content-box{
		display : flex;
		width: 1200px;
		margin: 0 auto;
		margin-bottom: 30px;
		min-height: 700px;
	}
	.main-left{
		width: 60%;
		display: inline-block;
		position: relative;
	}
	.main-box{
		width : 400px;
		display: inline-block;
		margin-left: 30px;
		margin-top: 50px;
	}
	.category-wrap{
		margin-top: 20px;
		font-size: 15px;
		color: #424242;
		display: inline-block;
	}
	.category-span{
		margin-right: 5px;
	}
	.main-img-table{
	}
	.main-ul{
		list-style-type: none;
		padding-left: 0px;
	}
	.main-li{
		margin-bottom: 5px;
		margin-top: 0px;
		
	}
	.main-li img{
		width: 100px;
		height: 100px;
		border-radius: 10px;
	}
	.main-img{
		position : absolute;
		left : 110px;
		top : 51px;
		width: 600px;
		height: 600px;
		
	}
	.main-img img{
		width: 600px;
		height: 600px;
		border-radius: 10px;	
	}
	.main-title{
		position: relative;
		margin-top: 0;
		
	}
	.product-title{
		display: inline-block;
		width: 350px;
		font-size: 25px;
		font-weight:bold;
		margin-right: 70px;
	}
	.scrapbook{
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		font-size: 25px;
	}
	.main-csat{
		font-size : 20px;
		margin-top: 20px;
	}
	.main-star{
		display: inline-block;
	}
	.main-discount{
		margin-top: 20px;
		font-size: 20px;
	}
	.price{
		text-decoration: line-through;
	}
	.discount-price{
		height : 50px;
		border-bottom: 1px solid #ededed;
		font-size: 30px;
	}
	.main-price2{
		height : 50px;
		border-bottom: 1px solid #ededed;
		font-size: 30px;
		margin-top: 20px;
	}
	.main-option{
		margin-top: 30px;
		flex: 0 0 auto;
	}
	.option-box{
		width: 100%;
		height: 50px;
		font-size: 18px;
		border-radius: 5px;
		border: 1px solid #ededed;
		outline: none;
	}
	.main-btn-wrap{
		margin-top: 30px;
	}
	.main-btn-wrap button{
		width: 198px;
		height: 50px;
		border-radius: 5px;
		font-size: 17px;
	}
	.btn1{
		border: 1.5px solid #A782C3;
		color: #A782C3;
		background-color: #fff;
		font-weight: bold;
	}
	.btn2{
		border: 0;
		color: #fff;
		background-color: #A782C3;
	}
	.nav-box{
		overflow: auto;
		position: sticky;
		top: 165px; 
		z-index: 100;
	}
	.nav-wrap{
    	border-bottom: 1px solid #ededed;
		border-top: 1px solid #ededed;
		width : 100%;
		height: 52px;
		background-color: #fafafa;
		
	}
	.nav-wrap div{
		font-size : 16px;
		font-weight : bold;
		line-height : 50px;
		text-align : center;
		width: 322px;
		height : 50px;
		display: inline-block;
		
	}
	.nav-wrap div:hover{
		border-bottom: 2px solid #A782C3;
		color: #A782C3;
	}
	.nav-wrap a{
		font-family: 'Pretendard-Regular';
		font-size: 17px;
		padding: 17px 100px 17px 100px;
	}
	.content-img{
		margin-left: 70px;
		width: 700px;
		display: inline-block;
	}
	.content-img img{
		width: 700px;
	}
	.content-title{
		font-size: 20px;
		font-weight: bold;
		margin-left: 70px;
		margin-top: 20px;
		width: 700px;
		display: inline-block;
	}
	.content-text-box{
		background-color: #FDF4F5;
		text-align: center;
		width: 700px;
		height : 200px;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.text1{
		color: #F54644;
		line-height: 80px;
		font-weight: bold;
		font-size: 30px;
	}

	.choice-option ul{
		padding: 0;
		max-height: none;
	   	flex: 1 1 auto;
	}
	.choice-option li{
		list-style: none;
		background-color:#ededed; 
		border-radius: 5px;
		padding: 10px;
		margin-top: 5px;
	}
	.choice-option li span{
		font-size: 17px;
		margin-top: 30px;
		margin-left: 8px;
	}
	.choice-option li .del-btn{
		border: 0;
		background-color: #ededed;
		float: right;
		
	}
	.option-stock{
		display: flex;
  		align-items: center;
	}
	.quantity-box{
	    border-radius: 4px;
		border: 1px solid rgb(218, 221, 224);
		background: rgb(255, 255, 255);
		width: 77px;
		margin-top: 12px;
		margin-left: 8px;
	}
	.quantity-box input{
		border: 0;
		width: 25px;
		height: 30px;
		text-align: center;
	}
	.minus-btn, .plus-btn{
		background-color: #fff;
		border: 0;
	}
	.option-stock-price{
		overflow: auto;
		font-size: 18px;
		font-weight: bold;
		flex: 1 1 0%;
    	text-align: right;
    	margin-top: 25px;
	}
	.total-price{
		margin-top: 30px;
		display: flex;
		align-items: center;
	}
	.total-title{
		font-size: 18px;
		font-weight: bold;
	}
	.total-price1{
		flex: 1 1 0%;
	}
	.total-price2{
		float: right;
	}
	.delivery{
		margin-top: 50px;
		margin-bottom: 20px;
		
	}
	.Etc-title{
		font-size: 17px;	
		font-weight: bold;
		margin-bottom: 10px;
	}
	.Etc-table{
		width: 100%;
	    border-collapse: collapse;
	    border-spacing: 0;
	}
	.Etc-table tr{
		border: none;
    	border-bottom: 1px solid #ededed;
	}
	.Etc-table td{
		padding: 10px;
	}
	.refund{
		margin-bottom: 60px;
		margin-top: 40px;
		
	}
	.Etc-title2{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.Etc-text{
		font-size: 13px;
		margin-bottom: 10px;
		font-weight: 100px;
	}
	.Etc-box{
		margin-left: 70px;
	}
	.Etc-box ol{
		padding: 0;
		margin-left: 14px;
		margin-bottom: 10px;
	}
	.Etc-box li{
		margin-bottom: 5px;
	}
	.Etc-box2{
		margin-bottom: 30px;
	}
	.recently-viewed{
		width: 400px;
		height: 700px;
		position: sticky;
		top: 220px;
		margin-left: 30px;
	}
	.recently-box{
		flex-direction: column;
		display: flex;
		height: 100%;
	}
	.recently-box2{
		display: flex;
		flex-direction: column;
		flex:  1 1 auto;
		min-height: 0;
	}
	.recently-box3{
		flex: 1 1 auto;
		min-height: 1px;
		
	}
