@charset "EUC-KR";

body{
	position: absolute;
	background-color: rgb(231, 231, 231);
	width: 800px;
	left: 400px;
}
.firstbox{
background-color: white;
padding-left: 40px;
}

.cartbtn{
	width: 15%;
	padding: 5px 10px;
	height : 30px;
	margin-top: 10px;
	background: #A782C3;
	border: 0;
	border-radius: 5px;
	color: #fff;
	
}
.cartbtn:hover {
      background-color:rgb(164, 80, 239);
      transition: 0.7s;
  }
.cartbtn2:hover {
      background-color:rgb(164, 80, 239);
      transition: 0.7s;
  }
    .custom-checkbox {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

        .custom-checkbox:checked::before {
            content: '✓';
            position: absolute;
            top: 2px;
            left: 6px;
            font-size: 15px;
            color: #A782C3;
        }

        input[type=checkbox] {
            display: none;
        }
        .price-summary{
			width: 300px;
			background-color: white;
			position: absolute;
			right: -320px;
			top: 58px;
			text-align: center;
		}	
		.cartbtn2{
	width: 300px;
	padding: 5px 10px;
	height : 30px;
	margin-left: 40px;
	margin-top: 10px;
	background: #A782C3;
	border: 0;
	border-radius: 5px;
	color: #fff;
	position: absolute;
	right: -320px;
	
}
	.custom-checkbox{
		position: absolute;
		left: 40px;
	}
	.all{
		position: absolute;
		left: 65px;
		
	}
	.cartTable{
		padding: 20px;
	}
		