@charset "UTF-8";
/* css파일 변경시 팀원에게 말하기 */

@font-face {
	 font-family: 'Pretendard-Regular';
	 src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	 font-weight: 200; font-style: normal; 
}

html,
body {
    height: 100%;
 }

body{
	width: 1300px;
	margin: 0px auto;
	font-size: 14px;
	font-family: 'Pretendard-Regular';
	color: #424242;
	display: flex;
   	flex-direction: column;
}

/* 링크, 기방문 스타일 */
a:link,
a:visited {
  color: black;
  text-decoration: none;
  transition: color 0.3s, background 0.3s;
}

/* 호버 스타일 */
a:hover {
  color: #A782C3;
  cursor: pointer;
}

hr{
	border: none; 
	border-top: 1px solid #c3c3c3;
}

/* 버튼 스타일 */
.btn{
    border: none;
    color: white;
    background-color: #A782C3;
    border-radius: 7px;
    padding: 0px 9px;
    margin: 10px 0px;
	transition: background 0.3s;
	cursor: pointer;
}

/* 버튼 호버 스타일 */
.btn:hover{
	background-color: #7c6191;
}

/* modal 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 불투명한 검은색 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
    z-index:1000;
  
}

.modal-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

input:focus {
	outline: none;
}
select:focus {
	outline: none;
}